registry=https://registry.npmmirror.com
disturl=https://registry.npmmirror.com/-/binary/node
better_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/better-sqlite3
strict-peer-dependencies=false
fund=false
audit=false
